@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-container {
  font-size: 40px;
}
